name: upup32 ff,jj

on:
  workflow_dispatch:
    branches:
      - main
    inputs:
      release:
        type: boolean
        description: 'Upload release'
        required: true
        default: true

jobs:
  uff:
    uses: peabee/woof-CE/.github/workflows/build.yml@testing
    with:
      repo: peabee/woof-CE
      ref: testing
      name: 'FocalPup32'
      version: '20.12'
      arch: x86
      compat-distro: ubuntu
      compat-distro-version: upupff+d
      kernel: '6.12.x'
      prefix: upupff+d
      artifact: FocalPup32-${{ github.run_number }}
      retention: 1

  ujj:
    uses: peabee/woof-CE/.github/workflows/build.yml@testing
    with:
      repo: peabee/woof-CE
      ref: testing
      name: 'JammyPup32'
      version: '22.04'
      arch: x86
      compat-distro: ubuntu
      compat-distro-version: upupjj+d
      kernel: '6.12.x'
      prefix: upupjj+d
      artifact: JammyPup32-${{ github.run_number }}
      retention: 1

  uploadff:
    needs: uff
    runs-on: ubuntu-22.04
    steps:
      - name: Get current date
        id: version
        run: echo "builddate=$(date +'%y%m%d')" >> $GITHUB_OUTPUT
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: FocalPup32-${{ github.run_number }}
          path: .
      - name: Generate SHA512 checksums
        run: |
          mv upupff+d-20.12.iso FocalPup32-20.12-${{ steps.version.outputs.builddate }}.iso
          find . -type f -name '*.sfs' -exec sha512sum {} \; > SHA512checksums.txt
          find . -type f -name '*.iso' -exec sha512sum {} \; >> SHA512checksums.txt
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: FocalPup32-20.12
          tag_name: FocalPup32/release-${{ steps.version.outputs.builddate }}
          fail_on_unmatched_files: true
          files: |
            *.iso
            *.sfs
            SHA512checksums.txt

  uploadjj:
    needs: ujj
    runs-on: ubuntu-22.04
    steps:
      - name: Get current date
        id: version
        run: echo "builddate=$(date +'%y%m%d')" >> $GITHUB_OUTPUT
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: JammyPup32-${{ github.run_number }}
          path: .
      - name: Generate SHA512 checksums
        run: |
          mv upupjj+d-22.04.iso JammyPup32-22.04-${{ steps.version.outputs.builddate }}.iso
          find . -type f -name '*.sfs' -exec sha512sum {} \; > SHA512checksums.txt
          find . -type f -name '*.iso' -exec sha512sum {} \; >> SHA512checksums.txt
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: JammyPup32-22.04
          tag_name: JammyPup32/release-${{ steps.version.outputs.builddate }}
          fail_on_unmatched_files: true
          files: |
            *.iso
            *.sfs
            SHA512checksums.txt
