name: voidpup

on:
  workflow_dispatch:
    branches:
      - main
    inputs:
      release:
        type: boolean
        description: 'Upload release'
        required: true
        default: true

jobs:
  x86_64:
    uses: peabee/woof-CE/.github/workflows/build.yml@testing
    with:
      repo: peabee/woof-CE
      ref: testing
      runner: ubuntu-22.04
      name: 'VoidPup64'
      version: '22.02'
      arch: x86_64
      compat-distro: void
      compat-distro-version: voidpup64
      kernel: '6.12.x'
      prefix: vpup64
      artifact: VoidPup64-${{ github.run_number }}
      retention: 1

  x86:
    uses: peabee/woof-CE/.github/workflows/build.yml@testing
    with:
      repo: peabee/woof-CE
      ref: testing
      runner: ubuntu-22.04
      name: 'VoidPup32'
      version: '22.02'
      arch: x86
      compat-distro: void
      compat-distro-version: voidpup32
      kernel: '6.12.x'
      prefix: vpup32
      artifact: VoidPup32-${{ github.run_number }}
      retention: 1

  upload64:
    needs: x86_64
    runs-on: ubuntu-22.04
    steps:
      - name: Get current date
        id: version
        run: echo "builddate=$(date +'%y%m%d')" >> $GITHUB_OUTPUT
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: VoidPup64-${{ github.run_number }}
          path: .
      - name: Generate SHA512 checksums
        run: |
          mv vpup64-22.02.iso VoidPup64-22.02-${{ steps.version.outputs.builddate }}.iso
          find . -type f -name '*.sfs' -exec sha512sum {} \; > SHA512checksums.txt
          find . -type f -name '*.iso' -exec sha512sum {} \; >> SHA512checksums.txt
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: VoidPup64-22.02
          tag_name: VoidPup64/release-${{ steps.version.outputs.builddate }}
          fail_on_unmatched_files: true
          files: |
            *.iso
            *.sfs
            SHA512checksums.txt

  upload32:
    needs: x86
    runs-on: ubuntu-22.04
    steps:
      - name: Get current date
        id: version
        run: echo "builddate=$(date +'%y%m%d')" >> $GITHUB_OUTPUT
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: VoidPup32-${{ github.run_number }}
          path: .
      - name: Generate SHA512 checksums
        run: |
          mv vpup32-22.02.iso VoidPup32-22.02-${{ steps.version.outputs.builddate }}.iso
          find . -type f -name '*.sfs' -exec sha512sum {} \; > SHA512checksums.txt
          find . -type f -name '*.iso' -exec sha512sum {} \; >> SHA512checksums.txt
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: VoidPup32-22.02
          tag_name: VoidPup32/release-${{ steps.version.outputs.builddate }}
          fail_on_unmatched_files: true
          files: |
            *.iso
            *.sfs
            SHA512checksums.txt
